/* Common Style Start */ 

/* 
 button color: #fcfc16;


*/
@font-face {
    font-family: Ikaros-Light;
    src: url(../fonts/Ikaros-Light.otf);
}
@font-face {
    font-family: Ikaros-Regular;
    src: url(../fonts/Ikaros-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
}
html, .hoverbody{
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling:touch;
}

body{
    font-size: 16px;
    color: #000;
    font-weight: normal;
    line-height: 1.7;
    background: url(../img/bg01.jpg) no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 220vh;


}

.placeimg{
    width: 80%;
}
.placewidth{
    width: 20vw;
    height: 30vh;
}
.placedetails{
    background-color: transparent;
    color: #FFF;
    padding: 10px 20px;
    display: none;
}
.placedetails h3{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.placedetails p{
    margin-bottom: 10px;
    margin-bottom: 20px;
}

/*     Button design    */

.pleac-btn{
    text-decoration: none;
    background-color:#FFF;
    padding: 1vw 4.7vw;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 25%;
    border: none;
}
.pleac-btn::before,
 .pleac-btn::after{
    border-color: #fcfc16;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0px;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
}
.pleac-btn::before{
    border-right-width: 2px;
    border-top-width: 2px;
    right: 40.5%;
    top: 60.5%;
    z-index: -1;
}

.pleac-btn::after{
    border-bottom-width: 2px;
    border-left-width: 2px;
    bottom: 31%;
    left: 40%;
    z-index: -1;
}



.placedetails a:hover{
    text-decoration: underline;
}
.onhover:hover .placedetails{
    display: block;
}



/* Common Style End */

/* Header style Start */

/* Nav Style are in Pushy.css */



#container{
    width: 82vw;
    float: left;
}

.menu-btn{
    font-size: 42px;
    padding: 3vw 3vw;
    background-color: transparent;
    border: none;
    font-weight: 900;
}
.menu-btn:hover{
    color:#20202091;
}
.site-logo{
    width: 16vw;
    float: right;
}
.site-logo img{
    width: 100%;
}
.pushy{
    min-width: 250px;
}
.pushy ul li{
    list-style: none;
}

/* Header style End */

/* Main Container Start */

.main-container{

}

/* place hover effect Start */ 

.site-overlay {
    display: none;
  }
  
.onhover{
    display: block;
    position: fixed !important;
    width: 100%;
    height: auto;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-animation: fade 500ms;
    animation: fade 500ms;
    margin: 0 auto;
  }

  .onhover img{
      width: 25%;
      margin: 0 auto;
      display: block;
  }

  .onhover .placedetails{
      width: 35%;
      background-color: transparent;
      font-size: 1.56em;
      line-height: 1.2em;
      color:#FFF;
      font-weight: normal;
      margin: 0 auto;
  }

  .onhover .placedetails h3{
      font-size: 35px;
      font-weight: 900;
  }


  /* place hover effect End */ 

/* Slog section Style Start */

.slog{
    width: 40vw;
    float: right;
    text-align: right;
    position: relative;
    top: 25vh;
    left: 15.2%;
    text-indent: .5em;
    z-index: 99;
    display: block;
    // Disply none just for test 


}
.slog h2{
    font-size: 3.4em;
    padding-right: .9em;
    color: #FFF;
    text-shadow: 2px 2px 10px #000000;
}

.head{
    width: 50vw;
    height: auto;
    background-color: #fcfc16;
    margin-bottom: 10px;
    position: relative;
}
/*
.head::before{
    content: "";
    height:0;
    width:0;
    float: left;
    text-align: left;
    position: absolute;
    left: -4.8vw;
    border-top: 2.4vw solid transparent;
    border-bottom: 2.4vw solid transparent;
    border-left: 2.4vw solid transparent;
    border-right: 2.4vw solid #fcfc16;
}

*/
.text-1{
    width: 32vw;
    left: 9vw;
    /*
    clip-path dimentions
     top1, top2, bottom1, bottom2, center;
     */
    -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 4% 50%);
  
}
.text-2{
    width: 60vw;
    right: 19vw;
   
    -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 10% 50%);
      
}
.text-3{
    width: 36vw;
    left: 5vw;
   
    -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 6% 50%);
      
}

/* Slog section Style End */

/* Place style Start */


.place-1{
    position: relative;
    float: right;
    left: 35vw;
}

/*
.place01des,.place02des,.place03des,.place04des,.place05des,.place06des,.place07des,.place08des,
.place09des,.place10des,.place11des,.place12des,.place13des,.place14des,.place16des,.place17des{
    position: relative;
    left: 8vw;
    bottom: 10vh;
    z-index: 9999;
}

*/

.place-2{
    position: relative;
    float: left;
    top: 9vh;
    left: 22vw;

}

.place-3{
    position: relative;
    float: left;
    left: 10vw;
    top: 8vh;
}

.place-4{
    position: relative;
    float: left;
    left: 6vw;
    top: 10vh;
}


.place-5{
    position: relative;
    float: left;
    left: 17vw;
    top: 13vh;
}

.place-6{
    position: relative;
    float: left;
    left: 5vw;
    top: 30vh;
}


.place-6 img{
    width: 95%;
}


.place-7{
    position: relative;
    float: right;
    top: 21vh;
    right: 16vw;
}

.place-8{
    position: relative;
    float: left;
    top: 42vh;
    right: 24vw;
}

.place-9{
    position: relative;
    float: left;
    left: 24vw;
    top: 37vh;
}
.place-9 img{
    width: 95%;
}

.place-10{
    position: relative;
    float: right;
    right: 35vw;
    top: 45vh;
}


.place-11{
    position: relative;
    float: right;
    right: 10.5vw;
    top: 24vh;
}

.place-12{
    position: relative;
    float: right;
    top: 25vh;
    left: 25vw;
}

.place-13{
    position: relative;
    float: left;
    left: 15vw;
    bottom: 14.5vh;
}

.place-14{
    position: relative;
    float: right;
    left: 54vw;
    bottom: 29vh;
}

.place-15{
    position: relative;
    float: right;
    left: 76vw;
    bottom: 32vh;
}

/*
.place15des{
    position: relative;
    bottom: 12vh;
    right: 15vw;
    z-index: 9999;
    // Special 
}
 
*/

.place-16{
    position: relative;
    float: left;
    left: 19vw;
    bottom: 29vh;
}

.place-17{
    position: relative;
    float: left;
    left: 34vw;
    bottom: 34vh;
}

.place-18{
    position: relative;
    float: right;
    left: 72vw;
    bottom: 45vh;
}

/*
.place18des{
    position: relative;
    bottom: 19vh;
    right: 15vw;
    z-index: 9999;
    // Special 
}

*/

/* Place Style End */

/* Main Container End */



/*Footer Style Start */
footer{
    padding: 5vh 5vw;
}

.copy-right{
    width: 60vw;
    float: left;
    font-size: 1.5em;
}

.social-links{
    width: 20vw;
    float: right;
}
.social-link{
    list-style: none;
    float: right;
}
.social-link li{
    display: inline-block;
}
.social-link li a i{
    font-size: 35px;
    color: antiquewhite;
    padding: 5px 10px;
}
.social-link li:nth-child(1) i{
    color: #3b5999;
}
.social-link li:nth-child(2) i{
    color: #e4405f;
}
.social-link li:nth-child(3) i{
    color: #cd201f;
}
/*Footer Style Start */

/* Animation Start */ 

/* Animation End */

/*
* Responsive Style Start 

#Mobile Device Sizes: 

phone: {
    width:      height:
    320px       568px 
    360px       640px
    375px       667px
    480px       800px         
   
}
tab-portrait: {
    width:      height:
    720px       1280px 
    768px       1024px
}
tab-landscape: {
    width:      height:
    1024px      768px 
}
Desktop{
    width:      height:
    1280px      800px 
    1280px      1024px
    1366px      768px
    1440px      900px
    1600px      900px 
}
Big Desktop{
    1920px 1080px
}
*/





/*
*  360px X 768px Resposive code


@media only screen and (max-width:768px){
    html, .hoverbody{
        overflow-x: hidden;
        height: 100%;
        -webkit-overflow-scrolling:touch;
    }
    
    .menu-btn{
        font-size: 2.5em;
        padding: 0 3vw;
    }
    #container{
        width: 85vw;
    }
    .site-logo{
        width: 15vw;
    }
    .site-logo img{
        width: 80%;
    }

    .placewidth{
        height: 5vh;
        width: 15vw;
    }
    .placeimg{
        width: 20vw;
    }


    .pushy a{
        padding: 10px 20px;
        font-size: 1.1em;
    }
    .onhover{
        width: 100%;
        height: auto;
    }
    .onhover img{
        width: 50%;
    }
    .onhover .placedetails{
        width: 70%;
        line-height: 1.5em;
    }
    .onhover .placedetails h3{
        font-size: 1.8em;
    }
    .onhover .placedetails p{
        font-size: 1.3em;
    }
    .pleac-btn{
        font-size: 1.1em;
    }
    .pleac-btn::after{
        bottom: 40.2%;
        left: 35.2%;
        height: 18px;
        position: absolute;
        width: 18px;
    }

    .pleac-btn::before{
        right: 35%;
        top: 53.9%;
        height: 18px;
        position: absolute;
        width: 18px;
    }

/*
* Place positioning 



.place01{
    top: 3vh;
    float: right;
    left: 15vw;
}
.place02{
    left: 25vw;
    top: 2vh;
}
.place03{
    left: 10vw;
    top: 11vh;
}
.place04{
    left: 28vw;
    top: 9vh;
}
.place05{
    left: 19vw;
    top: 12vh;
}

.place06{
    left: 32vw;
    top: 14.5vh;
}
.place06 img{
    width: 20vw;
}
.place07{
    left: 74vw;
    top: 10vh;
}
.place08{
    left: 20.5vw;
    top: 9vh;
}
.place09{
    left: 31.5vw;
    top: 9.8vh;
}
.place09 img{
    width: 20vw;
}
.place10{
    left: 51.5vw;
    top: 6.5vh;
}
.place11{
    left: 58vw;
    bottom: 4vh;
}
.place12{
    left: 80vw;
    bottom: 6vh;
}
.place13{
    left: 22.5vw;
    bottom: 5.5vh;
}
.place14{
    left: 65.5vw;
    bottom: 11vh;
}
.place15{
    left: 93.5vw;
    bottom: 11.5vh;
}
.place16{
    left: 27vw;
    bottom: 10.5vh;
}
.place17{
    left: 40vw;
    bottom: 12.5vh;
}
.place18{
    left: 94vw;
    bottom: 17.5vh;
}





.copy-right{
    font-size: 1.3em;
    padding: 4px 20px;
    width: 100%;
    text-align: center;

}


*/

}
/*
*device width less the or equal to 320px


@media  (max-width:320px) {
    html, .hoverbody{
        overflow-x: hidden;
        height:100%;
        -webkit-overflow-scrolling:touch;
    }

    .menu-btn{
        font-size:1.5em;
        padding: 0 3vw;
    }
    #container{
        width: 80vw;
    }
    .site-logo{
        width: 15vw;
    }
    .site-logo img{
        width: 100%;
    }
    .slog{
        top:11vh;
    }
    .slog h2{
        font-size: 1em;
    }
    .text-2{
        width: 70vw;
        right: 28vw;
    }
    .placewidth{
        height: 4.8vh;
        width: 15vw;
    }
    .placeimg{
        width: 80%;
    }


    .pushy a{
        padding: 10px 20px;
        font-size: 12px;
    }
    .onhover{
        width: 100%;
        height: auto;
    }
    .onhover img{
        width: 50%;
    }
    .onhover .placedetails{
        width: 70%;
        line-height: .8em;
    }
    .onhover .placedetails h3{
        font-size: .8em;
    }
    .onhover .placedetails p{
        font-size: .56em;
    }
    .pleac-btn{
        font-size: .4em;
    }
    .pleac-btn::after{
        bottom: 34%;
        left: 34%;
        height: 18px;
        position: absolute;
        width: 18px;
    }

    .pleac-btn::before{
        right: 34.5%;
        top: 58.9%;
        height: 18px;
        position: absolute;
        width: 18px;
    }

/*
* Place positioning 



.place01{
    top: 4vh;
    float: right;
    left: 23vw;
}
.place02{
    left: 29vw;
    top: 2vh;
}
.place03{
    left: 13vw;
    top: 7vh;
}
.place04{
    left: 29vw;
    top: 10vh;
}
.place05{
    left: 20vw;
    top: 12.5vh;
}

.place06{
    left: 32vw;
    top: 14.5vh;
}
.place06 img{
    width: 20vw;
}
.place07{

    top: 11vh;
    float: right;
}
.place08{
    left: 20.5vw;
    top: 9vh;
}
.place09{
    left: 31.5vw;
    top: 9.8vh;
}
.place09 img{
    width: 20vw;
}
.place10{
    left: 51.5vw;
    top: 6.5vh;
}
.place11{

    bottom: 4vh;
    float: right;
}
.place12{

    bottom: 6vh;
    float: right;
}
.place13{
    left: 22.5vw;
    bottom: 5.5vh;
}
.place14{

    bottom: 11vh;
    float: right;
}
.place15{

    bottom: 11.5vh;
    float: right;
}
.place16{
    left: 27vw;
    bottom: 10.5vh;
}
.place17{
    left: 40vw;
    bottom: 12.5vh;
}
.place18{

    bottom: 17.5vh;
    float: right;
}




.copy-right{
    font-size: 12px;
    width: 100%;
}
.social-links{
    width: 100%;
    text-align: center;
}
.social-link{
    float: none;
}
.social-link li a i{
    font-size: 1.4em;
}

}


*/
 

